* {
  background-color: yellow;
}
.dish {
  font-family: copperplate;
  font-size: 50px;
  color: white;
  text-align: center;
}

.dish span {
  background-color: green;
}

.ingredients span {
  background-color: white;
}

img {
  height: 400px;
  width: auto;
}

.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.description {
  font-family: cursive;
}

.ingredients {
  font-family: Monaco;
  font-size: 20px;
  color: red;
}

.steps {
  font-family: Helvetica;
  font-size: 22px;
}

.description, .steps {
  color: blue;
}

.emphasis {
  font-weight: bold;
}

p, li {
  color: red;
}
